 h2{
            background-color: rgb(220, 125, 10);
            text-align: center;
        }
        p{
            font-style: italic;
            font-size: 20px;
            font-family: 'Oswald', sans-serif;
            font-weight: 100;
            line-height: 30px;
        }
        #firstPara{
            background-color: beige;
            color: brown;
        }
        #secondPara{
            background-color: rgb(100, 109, 192);
        }
        #thirdPara{
            background-color: rgba(60,160,68,0.163);
        }
        .para{
            background-color: #ab67ab;
        }
        #forthPara{
            background-color: hsl(60, 87%, 46%);
        }